@import '../functions/extends';

footer {
	color: #f5e6ca;
	background-color: #343f56;
	text-align: center;
	a {
		@extend %letters-h6;
	}
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
	p {
		font-size: 14px;
		word-spacing: 2px;
		text-transform: capitalize;
	}
	span {
		text-transform: uppercase;
		opacity: .4;
		font-weight: 200;
	}
}

.footer-nav {
	ul li {
		list-style: none;
	}
	a {
		i {
			color: #f5e6ca;
			font-size: 38px;
			transition: color .4s ease;
		}
		&:hover {
			i {
				color: #ffb8b8;
				
			}
		}
	}
}


