@import '../functions/extends';

header {
	background-color: #fb9300;
	font-family: 'Righteous', cursive;
}


.navbar {
	img {
		border-radius: 100%;
	}
}
.branding {
	
	@extend %brand-letters;
   
}

