@import '../functions/extends';

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #f5e6ca;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    transition: all .2s ease-in-out;
    &:hover {
        @extend %resize
    }

    .whatsapp-icon {
        margin-top: 13px;
    }
}